* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

img {
  width: 100%;
  object-fit: cover;
}

.hover-image {
  transition: 0.3s;
}

.hover-image:hover {
  content: url("./assets/home.svg");
}
